<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let movement of movements | orderByCreation">
                  <td>{{movement.description}}</td>
                  <td>{{movement.amount | currency}}</td>
                  <td [ngClass]="movement.type == 'income' ? 'text-success' : 'text-danger'">{{movement.type}}</td>
                  <td><button type="button" class="btn btn-danger" (click)="deleteMovement(movement.uid!)"><i class="fa fa-trash"></i> Borrar</button></td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  