<!-- partial:../../partials/_navbar.html -->
<nav class="navbar default-layout col-sm-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" style="color: #006060; font-size: large">
        <img src="assets/favicon/android-icon-36x36.png" alt="logo" style="margin-right: 10px"/>
        <span style="margin-top: 10px">Expenses <span style="color: lightblue">App</span></span>
      </a>
      <a class="navbar-brand brand-logo-mini">
        <img src="assets/favicon/android-icon-36x36.png" alt="logo"/>
      </a>
    </div>
    
    <div class="navbar-menu-wrapper d-flex align-items-center">
     
      <ul class="navbar-nav navbar-nav-right">

        <li class="nav-item d-none d-sm-inline-block">
          <a class="nav-link" id="UserDropdown" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text" *ngIf="!!user?.name">Logged in as <b>{{user?.name}}</b></span>
            <img class="img-xs rounded-circle" *ngIf="!!user?.avatarId" [src]="'assets/images/faces/face' + user?.avatarId + '.jpg'" alt="Profile image">
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-sm-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>